<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <title>Weather or Not</title>
</head>

<body>

    <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>

    <div class="mainScreen">
        <div class="mainContent clouds">
            <div id="app">
                <div class="container">
                    <div class="row search-row">
                        <div class="col-md-12">
                            <h1 id="title">Weather or Not</h1>
                            <div>
                                <p id="Error" v-show="inputError">Please input a number in both boxes</p>
                                Longititude:<input type="text" v-model="position.lat" id="longInput" ><br> Lattitude:
                                <input type="text" v-model="position.long" id="latInput"><br>
                                <input class="btn" type="submit" value="Submit" @click="check(); search(); geoLocation(); " id="serachButton" >
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <!-- <i id="load" class="fa fa-circle-o-notch fa-spin"></i> -->

                    <div id="allResults">
                    <div class="row" id="results">
                        <div class="col-md-12" id="resultDiv" v-if="result.currently">
                            <!-- COHEL PLEASE HELP if we try to print result.currentl-->
                            <p><i class="fas fa-thermometer-three-quarters"></i> Temperature: {{result.currently.temperature}}</p>
                            <p><i class="fas fa-cloud-rain"></i> Weather: {{result.currently.summary}}</p>
                            <p><i class="fas fa-cloud-sun"></i> Cloud Cover: {{result.currently.cloudCover}}</p>
                        </div>
                    </div>
                    <div class="col-md-12" id="distanceDiv" v-if="geoResult.moon_distance">
                        <p><i class="fas fa-moon"></i> Moon Distnace: {{geoResult.moon_distance}}</p>
                        <p><i class="fas fa-sun"></i> Sun Distnace: {{geoResult.sun_distance}}</p>
                    </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end #app -->
        </div>
        <!--https://www.pexels.com/photo/stars-sky-night-galaxy-14676/-->
        <img class="introImage" src="starsTest.jpg" alt="Star background">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--Put after vue.js-->
    <script src="https://unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script>

    </script>

    <script src="javascript.js"></script>

</body>

</html>
