@import url('https://fonts.googleapis.com/css?family=El+Messiri');

html {
    scroll-behavior: smooth;
    font-family: 'El Messiri', sans-serif;

}

h1 {
    color: white;
}

.introImage {
    width: 100vw;
    height: 100vh;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-content: center;
    top: 50%;
    left: 50%;
    position: absolute;
}

.mainScreen {
    position: relative;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.centered {
    position: absolute;
    margin: 0 auto;
    width: 10vw;
}

.secondScreen {
    height: 90vh;
}

#startButton {
    border: none;
    background-color: white;
    color: purple;
    position: absolute;
    border-radius: 10px;
    margin: 20vh 0;
    padding: 1em;
    color: white;
    background-color: rgba(190, 144, 212,0.5);
}

#startButton:hover {
    background-color: rgba(190, 144, 212,1);
    text-decoration: none;
}
