<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="stylesheet.css">

    <title>Hello, world!</title>
</head>

<body>
    <div class="mainScreen">
        <content class="mainContent stars twinkling clouds">
            <h1 class="centered">Star Finder</h1>
            <a class="btn" href="#scrollToSecond">Begin</a>
        </content>
        <!--https://www.pexels.com/photo/stars-sky-night-galaxy-14676/-->
        <img class="introImage" src="starsTest.jpg">
    </div>

    <div class="secondScreen" id="scrollToSecond">
        <div id="app">

            <div class="container" id="mainInput">
                <div class="row search-row">
                    <div class="col-md-12">
                        <div id="longAndLat">
                            Longititude:<input type="text" v-model="currentLat" id="longInput">
                            <br> Lattitude:
                            <input type="text" v-model="currentLong" id="latInput"><br>
                            <input type="submit" value="Submit" @click="search">
                        </div>
                    </div>
                </div>
                <!-- end row -->

                <div class="row">
                    <div class="col-md-12" id="resultDiv" v-if="result.currently">
                        <!-- COHEL PLEASE HELP if we try to print result.currentl-->
                        <p>Temperature: {{result.currently.temperature}}</p>
                        <p>Weather: {{result.currently.summary}}</p>
                        <p>Cloud Cover: {{result.currently.cloudCover}}</p>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
            <img class="introImage" src="starsTest.jpg">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!--Put after vue.js-->
    <script src="https://unpkg.com/@babel/polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <script>
        const app = new Vue({
            el: '#app',
            data: {
                title: "Project 4",
                result: "loading",
                currentLat: '43.1566',
                currentLong: '77.6088'
            },
            created() {
                //this.search()
            },
            methods: {
                search() {
                    //console.log(limit);
                    //if (! this.term.trim()) return;
                    //https://cors-anywhere.herokuapp.com/api.openweathermap.org/data/2.5/find?q=London&appid=5e16c543219fc585e74c6275f9450fa5
                    let url = "https://cors-anywhere.herokuapp.com/https://api.darksky.net/forecast/605bcd829d90fb8c0a272b66244388e7/" + this.currentLat + "," + this.currentLong;
                    console.log(url);
                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw Error(`ERROR: ${response.statusText}`);
                            }
                            return response.json();
                        })
                        .then(json => {
                            //console.log(json);
                            this.result = json;
                            console.log(this.result.currently.temperature);
                        })
                } // end search
            } // end methods
        });
    </script>

</body>
</html>
